<body id="page-top">
  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h1 class="mx-auto my-0 text-uppercase">Admin Panel</h1>
        </div>
      </div>
    </div>
  </header>

  <section class="about-section text-center bg-light" id="about">
    <div class="container my-5 py-4">
      <div class="card h-100 border-0 shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Create New Account</h5>
          <p class="card-text">Add new accounts.</p>
        </div>
        <div class="card-footer">
          <a href="member/add" class="btn btn-primary btn-block">Create</a>
        </div>
      </div>

      <div class="card h-100 border-0 shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Manage Users</h5>
          <p class="card-text">Add, remove, or modify user accounts.</p>
        </div>
        <div class="card-footer">
          <a href="member" class="btn btn-primary btn-block">Go to Users</a>
        </div>
      </div>

      <div class="card h-100 border-0 shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Manage Classes</h5>
          <p class="card-text">Add, remove, or modify classes.</p>
        </div>
        <div class="card-footer">
          <a href="class" class="btn btn-primary btn-block">Go to Classes</a>
        </div>
      </div>

      <div class="card h-100 border-0 shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">View Reports</h5>
          <p class="card-text">Analyze data and generate reports.</p>
        </div>
        <div class="card-footer">
          <a href="/report" class="btn btn-primary btn-block">Go to Reports</a>
        </div>
      </div>
    </div>
  </section>
</body>
